@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700;1,900&family=Open+Sans:wght@300;400&family=Redressed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Redressed&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Redressed&family=Sansita+Swashed&display=swap');

$color-dark: #1e272e;
$color-light: #fff;
$color-nav: #353b48;
$color-black: #333;
$color-border: #2f3640;

$font-header: "Montserrat", sans-serif;
$font-header-two: "Redressed", cursive;
$font-text: 'Open Sans', sans-serif;
$font-quote: 'Sansita Swashed', cursive;

$font-regular: 400;
$font-bold: 700;
$font-black: 900;
