.pages {
  padding: 80px 0 25px 0;
}

@media (min-width: 411px) and (max-width: 767px) {
  .pages {
    padding: 40px 0 25px 0;
  }
}

@media (min-width: 360px) and (max-width: 410px) {
  .pages {
    padding: 40px 0 25px 0;
  }
}